In [1]:
import pandas as pd

In [2]:
chess_df = pd.read_csv("chess-games.csv")
chess_df

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20053,EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
20054,WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
20055,yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
20056,b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
20057,N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

In [3]:
df = chess_df[['rated', 'turns', 'winner', 'white_rating', 'black_rating', 'opening_ply']]
df

       rated  turns winner  white_rating  black_rating  opening_ply
0      False     13  white          1500          1191            5
1       True     16  black          1322          1261            4
2       True     61  white          1496          1500            3
3       True     61  white          1439          1454            3
4       True     95  white          1523          1469            5
...      ...    ...    ...           ...           ...          ...
20053   True     24  white          1691          1220            2
20054   True     82  black          1233          1196            2
20055   True     35  white          1219          1286            3
20056   True    109  white          1360          1227            4
20057   True     78  black          1235          1339            3

[20058 rows x 6 columns]

In [4]:
# Crosstab
byregion = pd.crosstab(df['turns'], df['opening_ply'])
byregion

opening_ply,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,22,24,28
turns,,,,,,,,,,,,,,,,,,,,,
1,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,56,129,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14,29,44,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,7,7,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,10,8,13,5,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
226,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
349,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.describe()

              turns  white_rating  black_rating   opening_ply
count  20058.000000  20058.000000  20058.000000  20058.000000
mean      60.465999   1596.631868   1588.831987      4.816981
std       33.570585    291.253376    291.036126      2.797152
min        1.000000    784.000000    789.000000      1.000000
25%       37.000000   1398.000000   1391.000000      3.000000
50%       55.000000   1567.000000   1562.000000      4.000000
75%       79.000000   1793.000000   1784.000000      6.000000
max      349.000000   2700.000000   2723.000000     28.000000

In [10]:
# Max turns
max_df = 349
max_df

349

In [12]:
df2 = df.loc[df['winner'].str.contains('white')]
df2

       rated  turns winner  white_rating  black_rating  opening_ply
0      False     13  white          1500          1191            5
2       True     61  white          1496          1500            3
3       True     61  white          1439          1454            3
4       True     95  white          1523          1469            5
6       True     33  white          1520          1423           10
...      ...    ...    ...           ...           ...          ...
20050   True      9  white          1243          1142            2
20052   True     37  white          1219          1250            4
20053   True     24  white          1691          1220            2
20055   True     35  white          1219          1286            3
20056   True    109  white          1360          1227            4

[10001 rows x 6 columns]

In [13]:
df2.to_csv("white-wins-chess.csv")